@media screen and (max-width: 479px){

*{
    margin: 0;
    padding: 0;
}

#cabecalho, #rodape, #menu-lateral {

    display: none;

}

#container{

    background-color: purple;
    margin: auto;
    width: 450px;
    font-size: 20pt;
}

#corpo, #conteudo {
    width: 100%;
}













}